:root {
  font-size: 24rpx;
}
.nutui-react-demo {
    height: 100vh;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24rpx;
    margin-bottom: 30px;
  }
  .title{
    display: block;
    margin: 20px 0;
    font-weight: 600;
  }
  .btn{
    display: block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .button{
    // margin-left:10px;
    // margin-right: 10px;
    background-color: #23c993 !important;
    position:fixed;
    bottom:0px
  }
  
  .nut-button--primary{
    background: #23c993 !important;
  }
  //     button
  .nut-button__warp{
    background-color: #23c993 !important;
  }
  .calcRes{
    background-color: #23c993;
    color:white;
    margin: 0px;
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    
   
  }
  .nut-cell__value{
    color:white;
  }
  .nut-cell__link{
    color:white;
  }

  .nut-tabs__titles-item__line{
    background-color: #23c993 !important;
   
  }
  