:root {
  font-size: 24rpx;
}
.nutui-react-demo {
    height: 100vh;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24rpx;
    margin-bottom: 30px;
  }
  .title{
    display: block;
    margin: 20px 0;
    font-weight: 600;
  }
  .btn{
    display: block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .button{
    // margin-left:10px;
    // margin-right: 10px;
    background-color: #23c993 !important;
    position:fixed;
    bottom:0px
  }
  
  .nut-button--primary{
    background: #23c993 !important;
  }
  //     button
  .nut-button__warp{
    background-color: #23c993 !important;
  }
  .calcRes{
    background-color: #23c993;
    color:white;
    margin: 0px;
    // display: grid;
    // grid-template-rows: 1fr 1fr;
  }
  #repayment{
    position: relative;
    height: 120px;
  }
  #repayment:after{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("img.png");
    background-repeat: no-repeat;
    background-position: right 70%;
    background-size: contain;
    opacity: 0.5;
}

  .detailRes{
    background-color: white;
    color:black !important;
    margin: 0 auto;
    width:80%;
    height: 90px;
    position: relative;
    bottom: 40px;
  }
  .calcRes>div.nut-cell__value{
    color:white;
  }
 .calcRes>i.nut-cell__link{
    color:white;
  }
.detailRes>div.nut-cell__value{
  color:black;
}
  .nut-tabs__titles-item__line{
    background: #23c993 !important;
    color:#23c993 !important;
   
  }

.nut-tabs__titles-item.active .nut-tabs__titles-item__text{
  color: #23c993 !important;
}

.indexMain{
  padding-bottom: 24px;
}

// .nut-overflow-hidden{
//   overflow: visible !important;
// }
.askPopupTittle{
  font-size:medium;
  margin-bottom: 6px;
}
.askPopupText{
  font-size:small;
}
.nut-picker__control .nut-picker__cancel-btn{
  color: #1a1a1a !important;
}
.nut-picker__confirm-btn{
  color: #23c993 !important;
}
.nut-picker__control{
  padding-top: 0px;
  padding-bottom: 0px;
}
